<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Load online map styles, tiles, fonts, icons, and place search results. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Check whether the device has an active network connection. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HyperNovaNavigationApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperNovaNavigation">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- Normal launch from Android Studio or application launcher. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Contract used by HyperNova Launcher. -->
            <intent-filter>
                <action android:name="com.hypernova.navigation.action.OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name=".service.NavigationCommandService"
            android:exported="true"
            android:permission="com.hypernova.permission.ACCESS_VEHICLE_GATEWAY">

            <intent-filter>
                <action android:name="com.hypernova.navigation.action.BIND_COMMAND" />
            </intent-filter>

        </service>

    </application>

</manifest>
