<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Standard Android 16 NXP guest; vehicle access is typed Gateway AIDL. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.hypernova.permission.CONTROL_COCKPIT_APPS" />

    <queries>
        <package android:name="com.hypernova.vehiclegateway" />

        <intent>
            <action android:name="com.hypernova.vehiclegateway.action.BIND_GATEWAY" />
        </intent>
    </queries>

    <application
        android:name=".HyperNovaClimateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperNovaClimate">

        <activity
            android:name=".ClimateActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.hypernova.climate.action.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name=".service.ClimateCommandService"
            android:exported="true"
            android:permission="com.hypernova.permission.CONTROL_COCKPIT_APPS">

            <intent-filter>
                <action android:name="com.hypernova.climate.action.BIND_COMMAND" />
            </intent-filter>

        </service>

    </application>

</manifest>
