<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.hypernova.permission.CONTROL_COCKPIT_APPS" />
    <!-- Navigation SDK declares this only for pre-KitKat caching; minSdk is 35. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <application
        android:name=".HyperNovaNavigationApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false"
        android:icon="@drawable/hn_ic_nav_navigation"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperNovaGoogleNavigation">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.hypernova.navigation.action.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NavigationCommandService"
            android:exported="true"
            android:permission="com.hypernova.permission.CONTROL_COCKPIT_APPS">
            <intent-filter>
                <action android:name="com.hypernova.navigation.action.BIND_COMMAND" />
            </intent-filter>
        </service>
    </application>

</manifest>
